* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: "Crimson Text", serif;
	font-family: "Open Sans", sans-serif;
	font-family: "Roboto", sans-serif;
}
/* 01 NAVBAR */
.imgNavbarBrand {
	width: 100%;
	max-width: 120px;
}

/* 01.1 RECOMENDACIONES */

/* 02 BIENVENIDA */
.bienvenida {
	display: flex;
	flex-direction: row;
	background-color: black;
	color: white;
	padding: 1rem;
}

.img1 {
	padding: 0.5rem;
}

h1 {
	font-size: 200%;
	font-weight: bold;
}

h2 {
	font-size: 120%;
}

/* 03 TARJETAS NOVEDADES */

.titulonovedades {
	display: flex;
	flex-direction: column;
	color: white;
	justify-content: center;
	padding-top: 2%;
	padding-right: 20%;
	padding-left: 17%;
	background: rgba(32, 31, 31, 0.9472163865546218);
}

.cardcontainer, .recomendaciones {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 17% 0 17%;
	background: rgb(32, 31, 31);
}

.cards,
.recomendCards {
	display: flex;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	width: 100%;
	padding: 20px;
	-webkit-overflow-scrolling: touch; /* Propiedad específica para desplazamiento táctil en iOS */
}

.card,
.recomendCard {
	flex: 0 0 auto;
	scroll-snap-align: center;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	margin-right: 15px;
	width: 200px;
}

@media only screen and (max-width: 600px) {
	.img1 {
		display: none;
	}
}

.btn-primary {
	background: rgb(194, 15, 15);
	background: linear-gradient(
		61deg,
		rgba(194, 15, 15, 0.9472163865546218) 49%,
		rgba(255, 94, 0, 1) 100%
	);
	border: none;
	width: 100%;
	transition: all 0.1s ease-in-out;
}
@media only screen and (min-width: 768px) {
	.btn-primary:hover {
		transform: scale(1.1);
		box-shadow: 13px 15px 37px black;
		overflow: hidden;
		background: black;
		color: white;
	}
}

/* 03.1 y 04.1 BOTONERA */
.botoncontainer {
	display: flex;
	flex-direction: row;
	background: black;
	justify-content: center;
	padding: 0 17% 0 17%;
	gap: 2%;
}

/* 04 TARJETAS CAPACITACION */

/* 05 SEPARADOR BLANCO PARA SECCION DE EMPRESAS DE INVERSION */

.titulobrokers {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 17%;
	padding-right: 28%;
}

/* 06 LISTADO DE BROKERS */

.containerbrokers {
	display: flex;
	flex-direction: row;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 17%;
	padding-right: 17%;
	justify-content: center;
	gap: 2%;
}

/* 07 SEGUNDO LISTADO DE BROKERS */

.botoncontainerblanco {
	display: flex;
	flex-direction: row;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 17%;
	padding-right: 17%;
	justify-content: center;
	gap: 2%; /* me da el espacion entre tarjetas */
}

/* 08 SECCION A DEFINIR, PODRIAN SER REDES U OTRA COSA */
.bienvenida8 {
	display: flex;
	flex-direction: column;
	background-color: black;
	justify-content: center;
	color: white;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 17%;
	padding-right: 17%;
}
/* 08.1 PRIMERA TANDA TARJETAS SIMPLES SECCION A DEFINIR */

.monedas {
	display: flex;
	flex-direction: row;
	background-color: black;
	padding-bottom: 2%;
	justify-content: center;
	gap: 1%; /* me da el espacion entre tarjetas */
}
.card-text {
	text-align: center;
	font-weight: bolder;
}

/* 09 ACERCA DE NOSOTROS CON ACORDEON */

.acordeoncontainer {
	padding-left: 17%;
	padding-right: 17%;
	justify-content: center;
}

/* esta parte del codigo funciona bien, sin embargo cambia los colores antes de abrir al menu y no despues
 */
/* .accordion-button{
	background-color: black;
	color: white;
} */

/* FOOTER */

/* LISTAS */
.footercontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: black;
	color: white;
	margin-top: 5%;
}

ul {
	list-style-type: none;
}

.listatitulo {
	font-weight: bolder;
}

/* DERECHOS */
.derechos {
	display: flex;
	justify-content: space-around;
	background-color: rgba(32, 31, 31, 0.9472163865546218);
	color: white;
	padding-top: 1%;
	padding-bottom: 1%;
}
